@font-face {
    font-family: 'Vela Sans';
    src: url(./fonts/VelaSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'druzhok';
    src: url(./fonts/DRUZHOK.otf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

