.HeaderSm {
    display: none;
    font-family: 'Vela Sans';
    width: 100%;
    background: #F3D102;
    height: 30px;
    padding: 16px;
}

.HeaderSm .header {
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
    height: 100%;
}

.HeaderSm .header .header__button {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 12px;
}

.HeaderSm .header .header__button img {
    width: 17px;
    height: 17px;
}

@media screen and (max-width: 576px) {
    .HeaderSm {
        display: block;
    }
}